---
layout: default
---

<div class="posts">
  <div class="post">
  <h1 class="title">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date_to_string }}</p>
    <div class="entry">
    {{ content }}
    </div>
  </div>
</div>

<section align="right">
  <br/>
  <span>
    <a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} > << Older Post</a>
    &nbsp;&nbsp;&nbsp;
    <a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >Newer Post >> </a>
  </span>
</section>
